<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso Estudiantes</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        label{
            display:block;
        }
    </style>
</head>
<body>
    <div id ="myApp">
        <h2>Ingreso Estudiantes</h2>
        <!-- En v-model va el nombre de la propiedad en el js -->
        <!-- <input type="text" v-model="nombre" v-on:keypress.enter="eventoFinal"> -->
        <label for="nombre">Nombre: </label>
        <input type="text" v-model="nombre" name="nombre">
        <label for="apellido">Apellido: </label>
        <input type="text" v-model="apellido" name ="apellido">
        <label for="edad">Edad: </label>
        <input type="text" v-model="edad" name="edad">
        <p> El Estudiante que va a agregar es: {{nombre}} {{apellido}} {{edad}}</p>
        <button v-on:click="agregarEstudiante('I')">Agregar Inicio</button>
        <button v-on:click="agregarEstudiante('F')">Agregar Fin</button>
        <ul>
          <li v-for="({nombre,apellido,edad},index) in lista">
              <h4 v-if="nombre">{{index+1}}: {{nombre}} - {{apellido}} - {{edad}}</h4>
              <hr>
          </li>
        </ul>
  

    </div>
    <script src="../js/estudianteFinal.js"></script>
</body>
</html>